.logoColor{
    color: #DF7031;
}
.button{
    background-color: #DF7031;
    border: none;
}
.navbar{
    height: 70px;
}
.button:hover{
    background-color: #cc713c;
}
.dashboard ul{
    list-style: none;
}
.dashboard ul li{
    color: black !important;
}
.dashboard .nav-link{
    color: black;
    margin-top: 2px;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
}
.dashboard .nav-item{
    border-bottom: 1px solid black;
    width: 100%;
}
.dashboard .nav-link:hover{
    color: #DF7031;
    margin-top: 2px;
    width: 100%;
}
.profileImage{
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
    margin-top: -5px;
}
.profileImageNavbar{
    border-radius: 50%;
}
.dropdown{
    z-index: 999;
}
.navbarDropdown{
    border: 0px;
    padding: 0px;
    background-color: white;
    height: 50px;
}
.dashboardLayout{
    margin-top: 400px !important;
    background-color: #F8F9FA;
}
#carouselExampleCaptions{
    z-index: -1;
}
.navbar-nav.ms-auto{
    float: right !important;
}
.forum{
    z-index: -1 !important;
}
@media only screen and (max-width: 945px) {
    .dashboardLayout {
        margin-top: 0px !important;
        margin-left: -30px;
    }
    .navbar-nav.ms-auto{
        background-color: #639fdb;
        z-index: 99999999 !important;
        padding: 20px;
        border-radius: 5px;
    }
    .profileImage{
        width: 40%;
        height: 40%;
    }
  }